body
{ 
   font-family: Verdana, Helvetica, Sans-Serif;
   font-size: 0.8em;
}

div, p
{
    margin: 0px;
    padding: 0px;
}

div.header
{
    width: 600px;
}

div.image > img
{
    border: #ddd solid 1px;
    width: 580px;
    margin: 0;
}

div.links img
{
    width: 38px;
}

.image, .description
{
    margin-bottom: 6px;
}

.entry
{
    clear: both;
    padding-right: 15px;
    padding-left: 15px;
    overflow: hidden;
    padding-top: 18px;
    padding-bottom: 18px;
}

.info
{
    float: left;
    width: 350px;
}

.entry-header
{
    overflow: hidden;
}

.date
{
    margin: 4px 15px 0px 7px !important;
}

.name
{
    font-size: 2em;
    margin-top: 0px;
    margin-right: 5px;
    color: #666;
}

.description
{
    clear: both;
    margin-right: 11px;
    margin-bottom: 10px;
    margin-top: 12px;
    !text-indent: 30px;
    !text-align: justify;
}

.image
{
    float: right;
    padding: 8px;
    border: #bbb solid 1px;
    background-color: white;
    width: 580px;
}
